body {
    
    height: 100%; 
    background-position: 0% 0%;
    background-repeat: cover;
    background-size: 100% auto;
}
/*
.background {
	top: 0;
	width:100%;
	height: 100vh;
	background-image: url('../images/diamond.jpg');
	background-size: 100%;
	z-index: -1;
	position: fixed;
	opacity: 0.9;

}*/




.bubble {
	height: 200px;
	width: 200px;
	border-radius:50%;
	-khtml-border-radius:50%;
	-moz-border-radius:50%;		
	-webkit-border-radius:50%;
	opacity: .6;
	background-color: red;
	display: inline-grid;
	text-align: center;
	color: white;
	font-family: arial;
	margin: 20px 20px 20px 20px;
	-webkit-transition: background-color 1s, color 1s, opacity 1s;
	transition: background-color 1s, color 1s, opacity 1s;

}

.bubble:hover {
	background-color: cyan;
	color: red;
	opacity: .7;
}

/*input {

	width: 75%;
	margin-top: 100px;
	background-color: yellow;
	border: none;


}*/



#circles {
	height: 480px;
	width: 480px;
	border-radius:50%;
	-khtml-border-radius:50%;
	-moz-border-radius:50%;		
	-webkit-border-radius:50%;
	/*opacity: .8;*/
	background-color: cyan;
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: 80px;
}
#formSquare{
	margin: 0 auto;
	height: 340px;
	width: 340px;
	/*border: solid;*/
	margin-top: 68px;

}
form input{
	width: 340px;
	
}
input #msgForm{
	width: 340px;
}

input#msgSubject {
	background-color: magenta;
	height:100px;
	width: 100%;
}

input#msgBody {
	height: 140px;
	margin-top: 0;
	margin-bottom: 0px;
	background-color: yellow;
	width: 100%;

}

input[type=submit]{
	background-color: red;
	margin-top: 2px;
	height: 100px;
	text-decoration: none;
	border: none;
	margin: 0;
	width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
  opacity: 1;
  font-weight: bold;
}



