doctype html
html
	head
		link(rel='stylesheet', type='text/css', href='/css/main.css')
		link(href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Permanent+Marker|Plaster|Press+Start+2P|Shrikhand|VT323" rel="stylesheet")
	body
		div.boardPage
			each row in results
				.bubble 
					p #{row.title} 
					p #{row.body}
		